
*.exe
*.spec
!graber.exe
!graber_cmd.exe

# 忽略源，手动更新
/sources

/pics/erowall/__pycache__
/cmds/__pycache__
/common/__pycache__
/pics/__pycache__

/pics/erowall/build
/cmds/build

/pics/erowall/dist/graber
\cmds\dist\graber_cmd